$dark : #1c2836;
$primary : #f7961c;
$white: #fff;

.hero .col:has(img)::after {
    content: "";
    position: absolute;
    top: -40px;
    right: 0;
    width: 672px;
    height: 672px;
    background-color: rgba(247, 150, 28, .4);
    border-radius: 50%;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    pointer-events: none;
    z-index: -1;
}

@import '../../../node_modules/swiper/swiper-bundle.min.css';

// Import Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";