// Import custom styles
@use '../custom' as *;
// Import mixins
@use './mixins' as *;
// Import Poppins and Open Sans fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Poppins font styles
.poppins-thin { @include font-family('Poppins', 100); }
.poppins-extralight { @include font-family('Poppins', 200); }
.poppins-light { @include font-family('Poppins', 300); }
.poppins-regular { @include font-family('Poppins', 400); }
.poppins-medium { @include font-family('Poppins', 500); }
.poppins-semibold { @include font-family('Poppins', 600); }
.poppins-bold { @include font-family('Poppins', 700); }
.poppins-extrabold { @include font-family('Poppins', 800); }
.poppins-black { @include font-family('Poppins', 900); }

.poppins-thin-italic { @include font-family('Poppins', 100, italic); }
.poppins-extralight-italic { @include font-family('Poppins', 200, italic); }
.poppins-light-italic { @include font-family('Poppins', 300, italic); }
.poppins-regular-italic { @include font-family('Poppins', 400, italic); }
.poppins-medium-italic { @include font-family('Poppins', 500, italic); }
.poppins-semibold-italic { @include font-family('Poppins', 600, italic); }
.poppins-bold-italic { @include font-family('Poppins', 700, italic); }
.poppins-extrabold-italic { @include font-family('Poppins', 800, italic); }
.poppins-black-italic { @include font-family('Poppins', 900, italic); }

// Heading styles with Poppins
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  span {
    color: $primary;
  }
}

h2, h3 {
  position: relative;
  margin: auto auto 30px auto;
  width: fit-content;
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 35%;
    height: 5px;
    border-radius: 10px;
    background-color: $primary;
  }
}

// Font weights for headings
h1 { font-weight: 800; }
h2, h3 { font-weight: 600; }
h4, h5, h6 { font-weight: 500; }

// Paragraphs and body text
p {
  @include font-family('Open Sans', 400);
  font-size: 16px;
}

body {
  @include font-family('Poppins', 400);
}

// Text color classes
.text-grey {
  color: $grey;
}

// Icon styles
.icon {
  width: 65px;
  height: 65px;
  background-color: rgba($primary, .1);
  font-size: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 30px;
    color: $primary;
  }
}
