@use '../custom' as *;

.pricing{
    .card{
        background: transparent;
        color: rgba($white, 0.8);
        border-color: rgba($white, 0.1);
    }
    h5{
        color: rgba($white, 0.9);
        font-size: 25px;
    }
    .card-body{
        padding-top: 15px;
    }
    .card-footer{
        border: none;
        padding-bottom: 15px;
    }
}